html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
}

.gallery {
  width: 100%;
  height: 100%;
  min-height: 320px;
}

.gallery-container {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.gallery-item {
  height: calc(30vw/2);
  opacity: .4;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 30vw;
  max-height: 40%;
  max-width: calc(40vh*2);
  z-index: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: lightgrey;
}

.gallery-item:nth-child(1) {
	
}

.gallery-item:nth-child(2) {
	background-image: url('./images/documentation-page.png');
}

.gallery-item:nth-child(3) {
	background-image: url('./images/product-landing-page.png');
}

.gallery-item:nth-child(4) {
	background-image: url('./images/survey-form.png');
}

.gallery-item:nth-child(5) {
	
}

.gallery-item.gallery-item-selected {
  height: calc(60vw/2);
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 60vw;
  max-height: 70%;
  max-width: calc(70vh*2);
  z-index: 2;
}

.gallery-item.gallery-item-previous,
.gallery-item.gallery-item-next {
  height: calc(45vw/2);
  opacity: 1;
  width: 45vw;
  max-height: 55%;
  max-width: calc(55vh*2);
  z-index: 1;
}

.gallery-item.gallery-item-previous {
  left: 30%;
  transform: translateX(-50%);
}

.gallery-item.gallery-item-next {
  left: 70%;
  transform: translateX(-50%);
}

.gallery-item.gallery-item-first {
  left: 15%;
  transform: translateX(-50%);
}

.gallery-item.gallery-item-last {
  left: 85%;
  transform: translateX(-50%);
}

.gallery-container button {
  border: 0;
  cursor: pointer;
  font-size: 16px;
  margin: 0 20px;
  padding: 0 12px;
  text-transform: capitalize;
}

.gallery-container button:focus {
  outline: none;
}

.previous {
  position: relative;
}

.previous::before {
  border: solid #000;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 4px;
  left: -10px;
  padding: 2px;
  position: absolute;
  top: 0;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 4px;
}

.next {
  position: relative;
}

.next::before {
  border: solid #000;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 4px;
  padding: 2px;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 4px;
}

.gallery-nav {
  bottom: 0px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gallery-nav li {
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.gallery-nav li.gallery-item-selected {
  background: #555;
}

/* Prevent items from resizing after screen height < 320px */
@media only screen and (max-height: 320px) {
	.gallery-item {
	  max-height: calc(320px*.4);
	  max-width: calc(320px*.4*2);
	}

	.gallery-item-selected {
	  /* Need to keep important here because otherwise
	  it will scale using height */
	  max-height: calc(320px*.7) !important;
	  max-width: calc(320px*.7*2) !important;
	}

	.gallery-item.gallery-item-previous,
	.gallery-item.gallery-item-next {
	  max-height: calc(320px*.55);
	  max-width: calc(320px*.55*2);
	}
}

/* Make item sizes slightly wider on smaller devices
Vals need to be larger for larger scale. */
@media only screen and (max-width: 800px) {
	.gallery-item {
		height: calc(60vw/2);
		width: 50vw;
	}

	.gallery-item.gallery-item-selected {
		height: calc(90vw/2);
		width: 80vw;
	}

	.gallery-item.gallery-item-previous,
	.gallery-item.gallery-item-next {
		height: calc(75vw/2);
		width: 65vw;
	}
}